<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>教书管理界面</title>
<link rel="stylesheet" href="/MyTest/js/easyui/themes/icon.css" />
<link rel="stylesheet" href="/MyTest/js/easyui/themes/default/easyui.css" />
<script type="text/javascript" src="/MyTest/js/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/MyTest/js/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="/MyTest/js/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
$(function() {
	$("#tt")
			.tree(
					{
						url : "/MyTest/user/getTree",
						method : "POST",
						animate : true,
						lines : true,
						onClick : function(node) {
							var isLeaf = $('#tt').tree('isLeaf', node.text);
							if (isLeaf) {
								var flag = $('#tta').tabs('exists',
										node.text);
								if (flag) {
									$('#tta').tabs('select', node.text);
								} else {
									var root = $('#tt').tree('getParent',
											node.target)
									if (root != null) {
										$('#tta')
												.tabs(
														'add',
														{
															title : node.text,
															closable: true,
															content : "<iframe src='"
																	+ node.path
																	+ "?mid="+node.id+"' style='width:100%;height:600px;'/>"
														});
									}
								}
							}

						}
					});
})

</script>
</head>
<body>

	<div class="easyui-layout" style="width: 100%; height: 700px;">
		<div data-options="region:'north'" style="height: 50px">
			<div style="text-align: center;">
这是教师主页
			</div>
			
		</div>
		<div data-options="region:'south',split:true" style="height: 50px;"></div>
		<div data-options="region:'west',split:true" title="导航菜单"
			style="width: 150px;">
			<div id="menuTree">
				<ul id="tt" class="easyui-tree"
					data-options="iconCls:'icon-save',collapsible:true"></ul>
			</div>

		</div>
		<div id="centerTabs" data-options="region:'center',iconCls:'icon-ok'"
			style="width: 530px;">
			<div id="tta" class="easyui-tabs"></div>
		</div>
	</div>
</body>
</html>